<meta charset="UTF-8">

<style>
.row {
	margin-right: 0px;
	margin-left: 0px;
}

.div {
	overflow-y: auto;
}

table {
	height: 100%;
}

tr:nth-child(even) {
	background-color: silver;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

#padding {
	padding-left: 15px;
	padding-right: 15px;
}

</style>

<div class="form-group row">
	<h1 style="text-align: center">Recherche d'adhérent</h1>
</div>
<br>
<div class="col-sm-offset-2 col-sm-8">
	<div class="form-group row">
		<input type="number" name="id" ng-model="adherentSrchCtrl.idFilter" placeholder="Identifiant" class="col-sm-2">
		<input type="text" name="name" ng-model="adherentSrchCtrl.nameFilter" placeholder="Nom" class="col-sm-offset-1 col-sm-4"> 
		<input type="text" name="surname" ng-model="adherentSrchCtrl.surnameFilter" placeholder="Prénom" class="col-sm-offset-1 col-sm-4">
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12 div">
			<table class="table" infinite-scroll="adherentSrchCtrl.nextPage()" infinite-scroll-use-document-bottom="true">
				<thead>
					<tr>
						<th>Identifiant</th>
						<th>Nom Prénom</th>
						<th>Date de Naissance</th>
						<th>Cotisation</th>
						<th>Emprunts</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in adherentSrchCtrl.catalog | filter:adherentSrchCtrl.getFilter()">
						<td ng-bind="item.id"></td>
						<td><a href="#/adherent/{{item.id}}" ng-bind="item.nom + ' ' + item.prenom"></a></td>
						<td ng-bind="item.date_naissance | date:'dd/MM/yyyy'"></td>
						<td>
							<span ng-show="adherentSrchCtrl.checkCotisation(item)" class="glyphicon glyphicon-ok-circle" style="color:green"></span>
							<span ng-show="!adherentSrchCtrl.checkCotisation(item)" class="glyphicon glyphicon-ban-circle" style="color:red"></span>
						</td>
						<td ng-bind="item.emprunt.length"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row"><br>
		<div>
			<button type="button" class="btn btn-default" style="float:right" data-toggle="modal" data-target="#myModal">Ajouter un adhérent</button>
		</div>
	</div>
</div>
		
