<meta charset="UTF-8">

<!-- a supprimer -->

<style>
.row {
	margin-right: 0px;
	margin-left: 0px;
}

.listeAdh {
	height: 500px;
 	overflow-y: auto; 
} 

table {
	height: 100%;
}

tr:nth-child(even) {
	background-color: silver;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

#padding {
	padding-left: 15px;
	padding-right: 15px;
}

</style>


<!-- Affichage information adhérent -->


<div id="displayAdherent" class="col-md-offset-2 col-md-8 mainDivRight" ng-controller="modalAdherentController as mctrl">
	<div id="readOnly" ng-hide="showme">
	
<!-- 		Nom -->

		<div class="row rowText">
			<span class="paddingLeft">Nom : {{aList.adherentList[aList.currentId].nom}} {{aList.adherentList[aList.currentId].prenom}}</span>
		</div>
		
<!-- 		Prenom -->

		<div class="row rowText">
			<span class="paddingLeft">Date de naissance : {{aList.adherentList[aList.currentId].date_naissance | date : 'dd/MM/yyyy'}}</span>
		</div>
		
<!-- 		E-mail -->

		<div class="row rowText">
			<span class="paddingLeft">E-mail : {{aList.adherentList[aList.currentId].email}}</span>
		</div>
		
<!-- 		Adresse -->

		<div class="row rowText">
			<span class="paddingLeft">Adresse : {{aList.adherentList[aList.currentId]["adresse"].ligne1}}
												{{aList.adherentList[aList.currentId]["adresse"].ligne2}}
												 {{aList.adherentList[aList.currentId]["adresse"].codepostal}}
												 {{aList.adherentList[aList.currentId]["adresse"].ville}}</span>
		</div>
		
<!-- 		Cotisation -->

		<div class="row rowText">
			<span class="paddingLeft">Date de cotisation : {{aList.adherentList[aList.currentId]["cotisation"].debut | date : 'dd/MM/yyyy'}}  Montant : {{aList.adherentList[aList.currentId]["cotisation"].montant}}€</span>
		</div>
		
<!-- 		Modification adherent -->

		<div class="col-md-6 col-xs-6 divLeft">
			<button type="button" class="btn btn-default" id="modifyAdherentButton" ng-click="showme=true">Modifier</button>
		</div>

<!-- 		Pop up -->

		<div class="col-md-6 col-xs-6 divRight">
			<button type="button" class="btn btn-default" style="float: right" ng-click="mctrl.open()">Ajouter un emprunt</button>
		</div>
	</div>
	
	
<!-- 	Edition adherent en cour -->

	<form class="form-group">
		<div id="modifyAdherent" ng-show="showme">
			
<!-- 			Nom -->
			
			<div class="row">
				<div class="col-md-3">
					<label>Nom :</label><br />
					<input class="paddingLeft" type="text" name="name" placeholder="Nom" 
					ng-model='aList.adherentList[aList.currentId].nom' ng-required="true"><br />
				</div>
				
<!-- 			Prenom -->
	
				<div class="col-md-3">
					<label>Prénom :</label><br />
					<input class="paddingLeft" type="text" name="firstName" placeholder="Prénom" 
					ng-model='aList.adherentList[aList.currentId].prenom' ng-required="true"><br />
				</div>
			</div>
			
<!-- 			Date de naissance -->

			<label>Date de naissance :</label><br />
			<input class="paddingLeft" type="date" name="birthDate" 
			ng-model="aList.adherentList[aList.currentId].date_naissance" ng-required="true"><br />

<!-- 			E-mail -->

			<label>Adresse e-mail :</label><br />
			<input class="paddingLeft" type="email" name="email" placeholder="E-mail" 
			ng-model='aList.adherentList[aList.currentId].email' ng-required="true"><br />

<!-- 			Adresse 1 -->

			<div class="row">
				<div class="col-md-4 col-xs-4">
					<label>Adresse 1 :</label><br />
					<input class="paddingLeft col-md-12 col-xs-12" type="text" name="adresse" placeholder="Adresse" 
					ng-model='aList.adherentList[aList.currentId]["adresse"].ligne1' ng-required="true"><br />
				</div>
				
<!-- 			Adresse 2 -->
				
				<div class="col-md-4 col-xs-4">
					<label>Adresse 2 :</label><br />
					<input class="paddingLeft col-md-12 col-xs-12" type="text" name="adresse" placeholder="Adresse" 
					ng-model='aList.adherentList[aList.currentId]["adresse"].ligne2' ng-required="true"><br />
				</div>		
			</div>
			
<!-- 			Code postal -->

			<div class="row">
				<div class="col-md-4 col-xs-4">
					<label>Code postal :</label><br />
					<input class="paddingLeft" type="text" name="CP" placeholder="Code Postal" 
					ng-model='aList.adherentList[aList.currentId]["adresse"].codepostal' ng-required="true"><br />
				</div>
	<!-- 			Ville -->
	
				<div class="col-md-4 col-xs-4">
					<label>Ville :</label><br />
					<input class="paddingLeft" type="text" name="ville" placeholder="Ville" 
					ng-model='aList.adherentList[aList.currentId]["adresse"].ville' ng-required="true"><br />
				</div>
			</div>

<!-- 			Date de cotisation -->

			<div class="row">
				<div class="col-md-4 col-xs-4">
					<label>Date de cotisation :</label><br />
					<input class="paddingLeft" type="date" name="subscriptionDate" 
					ng-model='aList.adherentList[aList.currentId]["cotisation"].debut' ng-required="true"><br />
				</div>
					
		<!-- 			Montant de la cotisation -->
		
				<div class="col-md-4 col-xs-4">
					<label>Montant de la cotisation :</label><br />
					<input class="paddingLeft" type="number" name="surbscriptionFee" placeholder="Cotisation" 
					ng-model='aList.adherentList[aList.currentId]["cotisation"].montant' ng-required="true"><br />
				</div>
			</div>

<!-- 			Valider ou annuler form -->

			<div class="col-md-6 col-xs-6 divLeft">
				<button type="button" class="btn btn-default" id="validateAdherent" ng-click="showme=false">Valider</button>
				<button type="button" class="btn btn-default" id="cancelAdherent" ng-click="showme=false">Annuler</button>
			</div>
			
<!-- 			Pop up -->

			<div class="col-md-6 col-xs-6 divRight">
				<button type="button" class="btn btn-default" style="float: right" ng-click="mctrl.open()">Ajouter un emprunt</button>
			</div>
		</div>
	</form>
	
	
	<div class="form-group row">
		<form name="empruntForm">
			<input type="text" name="empruntTitle" ng-model="aList.titleFilter" placeholder="Titre" class="col-sm-2">
		</form>
	</div>
	
	<div class=" row">
		<div class="col-sm-12 div">
			<table class="table">
				<tr>
					<th>Titre</th>
					<th>Date emprunt</th>
					<th>Date retour</th>
				</tr>
				
				<tr ng-repeat="emprunt in aList.adherentList[aList.currentId]['emprunt'] | filter:{media:{titre:aList.titleFilter}}">
					<td><span ng-bind="emprunt['media'].titre"></td>
					<td ng-bind="emprunt.depart | date: dd-mm-yyyy"></td>
					<td ng-bind="emprunt.retour | date: dd-mm-yyyy"></td>
				</tr>
			</table>
		</div>
	</div>
</div>
