<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../Services/services.js"></script>
<script src="adherent.js"></script>
<div ng-app='adherent'>
	<div id="displayAdherent" class="col-md-offset-2 col-md-8 mainDivRight"  ng-controller='AdherentController as aList'>
		<div id="readOnly" ng-hide="showme">
			<div class="row rowText">
				<span class="col-md-2 paddingLeft">Nom : SORIANO </span>
				<span>Nicolas</span>
			</div>
			<div class="row rowText">
				<span class="paddingLeft">Date de naissance : 22/10/1991</span>
			</div>
			<div class="row rowText">
				<span class="paddingLeft">E-mail : nico.sor@free.fr</span>
			</div>
			<div class="row rowText">
				<span class="paddingLeft">Adresse : 27 allée des chênes 33380 Marcheprime</span>
			</div>
			<div class="row rowText">
				<span class="paddingLeft">Date de cotisation : 03/11/2016  Montant : 9.999€</span>
			</div>
			<div class="col-md-6 col-xs-6 divLeft">
				<button type="button" class="btn btn-default" id="modifyAdherentButton" ng-click="showme=true">Modifier</button>
			</div>
	
			<div class="col-md-6 col-xs-6 divRight">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ajouter un emprunt</button>
			</div>
		</div>
		
		<div id="modifyAdherent" ng-show="showme">
			<div class="row rowInput">
				<input class="paddingLeft" type="text" name="name" placeholder="Nom" 
				 ng-model='aList.adherentList[0].nom' ng-required="true">
				<input class="paddingLeft" type="text" name="firstName" placeholder="Prénom" 
				 ng-model='aList.adherentList[0].prenom' ng-required="true"><br />
			</div>
			<div class="row rowInput">
				Date de naissance : <input class="paddingLeft" type="date" name="birthDate" 
				ng-model="aList.adherentList[0].date_naissance" ng-required="true">
			</div>
			<div class="row rowInput">
				<input class="paddingLeft" type="email" name="email" placeholder="E-mail" 
				 ng-model='aList.adherentList[0].email' ng-required="true">
			</div>
			<div class="row rowInput">
				<input class="paddingLeft" type="text" name="adresse" placeholder="Adresse" 
				 ng-model='aList.adherentList[0]["adresse"].ligne1' ng-required="true">
					<input class="paddingLeft" type="text" name="CP" placeholder="Code Postal" 
				 ng-model='aList.adherentList[0]["adresse"].codepostal' ng-required="true">
					<input class="paddingLeft" type="text" name="ville" placeholder="Ville" 
				 ng-model='aList.adherentList[0]["adresse"].ville' ng-required="true">
			</div>
			<div class="row rowInput">
				Date de cotisation : <input class="paddingLeft" type="date" name="subscriptionDate" 
				 ng-model='aList.adherentList[0]["cotisation"].debut' ng-required="true">
				<input class="paddingLeft" type="number" name="surbscriptionFee" placeholder="Cotisation" 
				 ng-model='aList.adherentList[0]["cotisation"].montant' ng-required="true">
			</div>
			<div class="col-md-6 col-xs-6 divLeft">
				<button type="button" class="btn btn-default" id="validateAdherent" ng-click="showme=false">Valider</button>
				<button type="button" class="btn btn-default" id="cancelAdherent" ng-click="showme=false">Annuler</button>
			</div>
			<div class="col-md-6 col-xs-6 divRight">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ajouter un emprunt</button>
			</div>
		</div>

		<div>	
			<table>
				<tr ng-repeat='adherent in aList.adherentList'>
				<td>tutu</td>
					<td>{{adherent.id}}</td>
					<td>{{adherent.nom}}</td>
					<td>{{adherent.prenom}}</td>
					<td>{{adherent.adresse}}</td>
					<td>{{adherent.age}}</td>
				</tr>
			</table>
		</div>
		
</div>
</div>