body
{
	background-color : black ;
}

#centre
{
	margin-top: 30vh; /* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
	outline-style : solid ;
}

#espace
{
	padding : 20%;
}

h1
{
	font-size : 300%;
	color : pink;
}