body
{
	background-color : black ;
}

#centre
{
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
	outline-style : solid ;
}

#espace
{
	padding : 20%;
}