#centre
{
	margin-top: 45vh; /* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
	outline-style : solid ;
	outline-color: deeppink;
}

input.padding
{
	padding-left : 5px ;
}

#espace
{
	padding : 10vh;
}

h1
{
	font-size : 10vh;
}

div.form-group.col-sm-12.text-center
{
	padding-top : 10vh;
}

input.ng-invalid.ng-dirty.ng-touched
{
	border-color : red;
}

body {
    background-image: url("theme_frame.png");
    background-color: #cccccc;
}
