input.padding
{
	padding-left : 5px ;
}

table
{
	height:100%;
}

tr:nth-child(even)
{
	background-color: silver;
}

div#noPadding
{
	padding-right : 5px;
}

span.libelle
{
	font-size : 1vh;
}

span.info
{
	font-size : 1.5vh;
}